<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Student Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/students}">Home</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<br>
<br>
 <div class="container">
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New Student</h1>
             <div class="card-body">
                 <form method="POST" th:object="${student}" th:action="@{/students}">
                    <div class="form-group">
                        <label>Enter Student First Name</label>
                        <input
                           type="text"
                           name="firstName"
                           th:field="*{firstName}"
                           placeholder=" ..."
                           class="form-control"
                        />
                    </div>
                     <div class="form-group">
                         <label>Enter Student Last Name</label>
                         <input
                                 type="text"
                                 name="lastName"
                                 th:field="*{lastName}"
                                 placeholder="..."
                                 class="form-control"
                         />
                     </div>

                     <div class="form-group">
                         <label>Enter Student Email address</label>
                         <input
                                 type="text"
                                 name="email"
                                 th:field="*{email}"
                                 placeholder=" ..."
                                 class="form-control"
                         />
                     </div>
                      <br>
                     <div class="box-footer">
                         <button type="submit" class="btn btn-primary"> Submit</button>

                     </div>


                 </form>
             </div>
        </div>

     </div>
 </div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>